{% extends 'acervo/base.html' %}

{% block content %}
    {% for editora in editoras %}
        <div class="obra">
            <h2>{{ editora.nome }}</h2>
            
            <p><a href="{% url 'editora_edit' editora.id %}">Editar</a> | <a href="{% url 'editora_delete' editora.id %}">Excluir</a></p>
            
            <p><b>Nome:<b> {{ editora.nome|linebreaksbr }}</p>

            <p><b>Endereço:<b> {{ editora.endereco|linebreaksbr }}</p>

            <p><b>Telefone:<b> {{ editora.telefone|linebreaksbr }}</p>

        </div>
    {% endfor %}
{% endblock %}
