{% extends 'acervo/base.html' %}

{% block content %}
    {% for obra in obras %}
        <div class="obra">
            <div class="date">
                {% for genero in generos %}
                    → {{ genero.nome }} 
                {% endfor %}
            </div>
            <h2>{{ obra.titulo }}</h2> 
            
            {% if request.session.tipo_usuario == "Administrador" or request.session.tipo_usuario == "Bibliotecário" %}
                <p><a href="{% url 'obra_edit' obra.id %}">Editar</a> 
                | <a href="{% url 'obra_delete' obra.id %}">Excluir</a></p>
                <p><a href="{% url 'exemplar_add' obra.id %}">Adicionar exemplar</a></p>
            {% endif %}   

            <p><b>ISBN:<b> {{ obra.isbn|linebreaksbr }}</p>
            <p><b>Data de publicação:<b> {{ obra.ano_publicacao|linebreaksbr }}</p>

            <p><b>Autor: <b>
                {% for autor in autores %}
                    {{ autor.nome|linebreaksbr }} 
                {% endfor %}
            </p>

            <p><b>Palavras Chaves:<b></p>
            <ul>
                {% for palavra_chave in palavras_chaves %}
                <li>{{ palavra_chave.nome|linebreaksbr }} </li>
                {% endfor %}
            </ul>

            <p><b>Editora: <b>
                {% for editora in editoras %}
                    {{ editora.nome|linebreaksbr }} 
                {% endfor %}
            </p>

            {% if exemplares_disponiveis %}
                <hr/>

                <p><b>Exemplares: <b></b></p>
            {% endif %}
            
            <ul>
                {% for exemplar in exemplares_disponiveis %}
                    <li>Edição: {{ exemplar.edicao }} | Local: {{ exemplar.sub_biblioteca }} | Status: <a href="{% url 'exemplar_reserva' obra.id exemplar.sequencia %}">Disponível</a></li>
                {% endfor %}
            </ul>

            <ul>
                {% for exemplar in exemplares_nao_disponiveis %}
                    <li>Edição: {{ exemplar.edicao }} | Local: {{ exemplar.sub_biblioteca }} | Status: Reservado</li>
                {% endfor %}
            </ul>
            


        </div>
    {% endfor %}
{% endblock %}
